body {
    font-family: 'Poppins', sans-serif;
    background-color: #020617;
    background-image:
      linear-gradient(to right, rgba(71,85,105,0.3) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(71,85,105,0.3) 1px, transparent 1px),
      radial-gradient(circle at 50% 50%, rgba(139,92,246,0.15) 0%, transparent 70%);
    background-size: 32px 32px, 32px 32px, 100% 100%;
}

.time {
    background-color: #01030b7c;
}

.icon-shadow {
    transition: 0.3s ease-in-out;
}

.icon-shadow:hover {
    box-shadow: 0 0 10px 0 #07bdeb6b !important;
    scale: 1.1;
}